/* stylelint-disable selector-id-pattern */
.single-page {
   padding: 120px 20px 60px 20px;

   @include sm {
      padding: 170px 20px 60px 20px;
   }

   @include md {
      padding: 170px 30px 100px 30px;
   }

   @include lg {
      padding: 180px 30px 120px 30px;
   }

   @include xl {
      padding: 200px 30px 140px 30px;
   }

   @include xxl {
      padding: 200px 30px 180px 30px;
   }
}

#root {
   overflow-x: hidden;
}


.main {
   position: relative;
   min-height: 100vh;
}

.container {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 !important;
}

.contain {
   contain: layout paint;
}

.transition {
   transition: all 0.2s ease-in-out;
}

.upercase {
   text-transform: uppercase;
}

.space {
   display: inline-block;
   margin-bottom: 15px;
}

::placeholder {
   font: 400 16px/1.5 "AvenirNextCyr";
   color: var(--color_palceholder);
}

mark {
   color: var(--color_primary);
}
