.breadcrumbs {
   margin-bottom: 30px;

   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;

      @include lg {
         justify-content: flex-start;
      }
   }

   &__link {
      font: 400 16px/1.5 "AvenirNextCyr";
      color: var(--color_secondary);

      @include md {
         font-size: 18px;
      }
   }

   &__item {
      &:hover > .breadcrumbs__link {
         color: var(--color_primary);
      }

      &.active > .breadcrumbs__link {
         font: 500 16px/1.5 "AvenirNextCyr";
         color: var(--color_primary);
      }
   }
}
