.drobdown {
   overflow-y: scroll;
   position: absolute;
   top: 45px;
   left: 0;
   z-index: 10;
   display: none;
   flex-flow: column;
   min-width: 240px;
   max-height: 300px;
   border-radius: 0 0 12px 12px;
   background-color: var(--color_base);
   box-shadow: 0 25px 45px 0 rgba(107, 107, 106, 2%);

   &--width {
      width: 100%;
   }
}
