.about {
   padding: 140px 20px 60px 20px;

   &__grid {
      @include lg {
         display: grid;
         grid-column-gap: 30px;
         grid-template-areas:
            "breadcrumbs breadcrumbs"
            "header header"
            "profile bullet"
            "quote quote"
            "hero hero";
         grid-template-columns: 1fr 0.4fr;
      }

      @include xl {
         gap: 30px;
         grid-template-areas:
            "breadcrumbs breadcrumbs"
            "header header"
            "profile quote"
            "hero quote"
            "hero bullet";
         grid-template-columns: 1fr 1fr;
      }
   }

   &__breadcrumbs {
      grid-area: breadcrumbs;
      @include xl {
         margin: 0;
      }
   }

   &__header {
      position: relative;
      margin-bottom: 50px;

      &-icon {
         position: absolute;
         top: 0;
         left: calc(50% - 45px);

         @include md {
            width: 100px;
            height: auto;
         }

         @include lg {
            left: 25px;
         }

         @include xxl {
            width: 110px;
            height: auto;
         }
      }
      @include lg {
         grid-area: header;
      }
   }

   &__title {
      padding-top: 30px;
      letter-spacing: 2px;
      color: var(--color_secondary);

      @include sm {
         font-size: 42px;
      }

      @include md {
         font-size: 46px;
         text-align: center;
      }

      @include lg {
         font-size: 52px;
         text-align: left;
      }

      @include xl {
         font-size: 56px;
      }

      @include xxl {
         font-size: 58px;
      }
   }

   &__profile {
      position: relative;
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 15px;
      max-width: 480px;
      margin: 0 auto;
      padding: 20px;
      border-radius: 22px;
      background-color: var(--color_bg_grey);

      &-icon {
         position: absolute;
         top: -10px;
         right: -10px;

         @include md {
            top: -15px;
            right: -15px;
            width: 50px;
            height: 50px;
         }
      }

      &-text-box {
         display: flex;
         flex-flow: column;
         gap: 10px;
      }

      &-text {
         max-width: 480px;
         margin: 0 auto;
         font: 500 16px/1.5 "AvenirNextCyr";
         text-align: center;

         @include md {
            font: 500 18px/1.5 "AvenirNextCyr";
         }
         @include lg {
            margin: 0;
            text-align: left;
         }
      }

      @include md {
         max-width: 100%;
         padding: 30px;
      }

      @include lg {
         flex-flow: row;
         grid-area: profile;
         max-width: 100%;
         margin: 0;
      }
   }

   &__quote {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 15px;
      max-width: 480px;
      margin: 0 auto;
      padding: 60px 0;

      &-text-box {
         display: flex;
         flex-flow: column;
         gap: 20px;
      }

      &-text {
         font: 400 16px/1.5 "AvenirNextCyr";
         text-align: center;

         &--bold {
            font-weight: 500;
         }

         @include md {
            font-size: 18px;
         }

         @include lg {
            text-align: left;
         }
      }

      @include md {
         max-width: 100%;
      }

      @include lg {
         align-items: flex-start;
         grid-area: quote;
         max-width: 100%;
         margin: 0;
      }

      @include xl {
         padding: 0;
      }
   }

   &__bullet {
      display: none;

      &-item {
         @include lg {
            position: relative;
         }
      }

      &-icon-1 {
         @include lg {
            position: absolute;
            top: 16px;
            left: 15px;
            animation-name: bullet-icon;
            animation-duration: 15s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
         }
      }

      @include lg {
         display: flex;
         grid-area: bullet;
         gap: 15px;
      }
   }

   &__hero {
      width: 100%;
      height: auto;
      max-width: 480px;
      margin: 0 auto;
      border-radius: 22px;
      object-fit: cover;

      @include md {
         max-width: 100%;
      }

      @include lg {
         grid-area: hero;
      }
   }

   @include sm {
      padding: 200px 20px 60px 20px;
   }

   @include md {
      padding: 220px 30px 80px 30px;
   }

   @include lg {
      padding: 240px 30px 80px 30px;
   }
}


@include lg {
   @keyframes bullet-icon {
      0% {
         transform: rotate(0deg);
      }

      100% {
         transform: rotate(360deg);
      }
   }
}
