.backetForm {
   overflow-y: scroll;
   width: 100%;
   height: 100%;
   padding: 25px;
   padding-bottom: 120px;

   &__back {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 13px;
      margin-bottom: 20px;
      font: 500 18px/1.3 "AvenirNextCyr";
      color: #333;
      border: 1px solid #333;
      border-radius: 8px;
      transition: all 0.2s ease-in-out;

      &:hover {
         color: var(--color_base);
         background-color: var(--color_btn_hover);
         border-color: var(--color_btn_hover);
      }

      &-icon {
         display: block;
         width: 18px;
         height: 18px;
      }
   }

   &__order {
      margin-bottom: 50px;
   }

   &__contact {
      display: flex;
      flex-flow: column;
      gap: 25px;
      margin-bottom: 50px;
   }

   &__input-box {
      display: flex;
      flex-flow: column;
      gap: 5px;
   }

   &__title {
      font: 500 18px/1.5 "AvenirNextCyr";
   }

   &__subtitle {
      font: 400 16px/1.5 "AvenirNextCyr";
      color: var(--color_secondary);
   }

   &__input {
      appearance: none;
      height: 60px;
      padding: 20px;
      border: none;
      border-radius: 50px;
      outline: none;
      outline-offset: none;
      background-color: var(--color_input);

      &-err {
         color: red;
      }

      &:focus-visible {
         appearance: none;
         border: none;
         outline: none;
         outline-offset: none;
      }

      &.invalid {
         border: 1px solid red;
      }
   }

   &__delivery {
      display: flex;
      flex-flow: column;
      gap: 25px;
      margin-bottom: 50px;
   }

   &__sum {
      margin-bottom: 30px;
      font: 600 18px/1.5 "AvenirNextCyr";
   }

   &__button-box {
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 15px;
   }

   &__policy {
      font: 400 16px/1.5 "AvenirNextCyr";
      text-align: center;
   }
}
