.menu {
   position: fixed;
   top: 0;
   right: -100%;
   z-index: 150;
   display: block;
   width: 100%;
   height: 100dvh;
   max-width: 450px;
   background-color: var(--color_base);
   transition: right 0.3s ease-in-out;

   &__body {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      gap: 30px;
      width: 100%;
      height: 550px;
      padding: 25px;

      @include lg {
         padding: 30px;
      }
   }

   &__nav {
      &-list {
         display: flex;
         flex-flow: column;
         gap: 15px;
      }

      &-link {
         position: relative;
         font: 400 16px/1.3 "AvenirNextCyr";
         text-transform: uppercase;
         color: var(--color_secondary);
         transition: all 0.2s ease-in-out;

         &:hover {
            color: var(--color_primary);
         }

         @include md {
            font: 400 18px/1.3 "AvenirNextCyr";
         }
      }
   }

   &__drobdown {
      cursor: pointer;

      &-submenu {
         display: none;
         flex-flow: column;
         gap: 10px;
         padding: 10px;
      }

      &-title {
         &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: -25px;
            display: block;
            border-top: 6px solid var(--color_primary);
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            border-radius: 1px;
         }

         &:hover {
            color: var(--color_primary);
         }

         &.active + .menu__drobdown-submenu {
            display: flex;
         }

         &.active::before {
            border-top: 0 solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 6px solid var(--color_primary);
            border-left: 4px solid transparent;
         }
      }

      &-link {
         color: var(--color_secondary);
         transition: all 0.2s ease-in-out;

         &:hover {
            color: var(--color_primary);
         }
      }
   }

   &__cta {
      display: flex;
      flex-flow: column;
      gap: 20px;

      &-text {
         font: 400 14px/1.3 "AvenirNextCyr";
         color: var(--color_secondary);
         opacity: 0.8;

         @include md {
            font: 400 16px/1.3 "AvenirNextCyr";
         }
      }
   }

   &.active {
      right: 0;
   }
}
