<!DOCTYPE html>
<html lang="ru">
   <head>
      <title>Lumiiere Candles | Главная</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="Описание не длиннее 155 символов" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="url" content="http://www.websiteaddrress.com" />
      <meta name="copyright" content="2022. Lumiiere Candles" />
      <meta name="author" content="Nikita Suchkov, suchkov8520@gmail.com" />
      <meta name="robots" content="index,follow,noodp" />
      <meta name="googlebot" content="index,follow" />
   </head>

   <body class="page">
      <div class="root">
         <header class="header">
            <p class="header__message">100% VEGAN. CRUELTY FREE.</p>
            <div class="container">
               <div class="header__flex-wrap">
                  <div class="header__left">
                     <button class="header__btn-menu">
                        <svg class="header__icon" fill="#EB4A00">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#catalog"></use>
                        </svg>
                     </button>
                     <ul class="header__left-drobdown">
                        <li class="header__left-drobdown-item">
                           <a class="header__left-drobdown-link route" href="#/catalog">Соевые свечи</a>
                        </li>
                        <li class="header__left-drobdown-item">
                           <a class="header__left-drobdown-link route" href="#/catalog">Бестселлеры</a>
                        </li>
                        <li class="header__left-drobdown-item">
                           <a class="header__left-drobdown-link route" href="#/catalog">Спички</a>
                        </li>
                        <li class="header__left-drobdown-item">
                           <a class="header__left-drobdown-link route" href="#/catalog">Открытки</a>
                        </li>
                        <li class="header__left-drobdown-item">
                           <a class="header__left-drobdown-link route" href="#/catalog">Наборы</a>
                        </li>
                     </ul>
                     <button class="header__btn-search">
                        <svg class="header__icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#search"></use>
                        </svg>
                     </button>
                     <ul class="header__left-nav">
                        <li class="header__left-nav-item">
                           <a class="header__left-nav-link route" href="#/about">О нас</a>
                        </li>
                        <li class="header__left-nav-item">
                           <a class="header__left-nav-link" href="#footer">Контакты</a>
                        </li>
                     </ul>
                  </div>
                  <a class="header__logo route" href="#">
                     <svg class="header__logo-icon">
                        <use xlink:href="/src/assets/img/svg/sprite.svg#logo"></use>
                     </svg>
                  </a>
                  <div class="header__right">
                     <ul class="header__right-nav">
                        <li class="header__right-nav-item">Для клиента</li>
                        <li class="header__right-drobdown">
                           <ul class="header__right-drobdown-list">
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/care">Уход</a>
                              </li>
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/faq">Ответы на вопросы</a>
                              </li>
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/partners">Сотрудничество</a>
                              </li>
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/delivery">Доставка и оплата</a>
                              </li>
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/oferta">Договор оферты</a>
                              </li>
                              <li class="header__right-drobdown-item">
                                 <a class="header__right-drobdown-link route" href="#/policy">Политика конфиденциальности</a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                     <button class="header__btn-favorite">
                        <svg class="header__icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#favorite"></use>
                        </svg>
                        <span class="header__icon-count">0</span>
                     </button>
                     <button class="header__btn-backet">
                        <svg class="header__icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#backet"></use>
                        </svg>
                        <span class="header__icon-count">0</span>
                     </button>
                  </div>
               </div>
            </div>
            <div class="backet">
               <div class="backet__header">
                  <p class="backet__title">Корзина:</p>
                  <button class="backet__close"></button>
               </div>
               <div class="backet__empty">
                  <p class="backet__empty-text">Корзина пуста</p>
               </div>
               <div class="backet__product hidden">
                  <div class="backet__product-item" data-product="" data-size="" data-code="" data-count="1" data-sum="">
                     <img class="backet__product-img" src="#" alt="Картинка товара" width="70" height="70" />
                     <div class="backet__product-options">
                        <a class="backet__product-name" href="#"></a>
                        <p class="backet__product-size">
                           Размер:
                           <span class="backet__product-option">40</span>
                           мл
                        </p>
                        <p class="backet__product-code"></p>
                     </div>
                     <div class="backet__product-count">
                        <div class="backet__product-plusminus">
                           <div class="backet__product-minus"></div>
                           <div class="backet__product-total">1</div>
                           <div class="backet__product-plus"></div>
                        </div>
                        <div class="backet__product-sum">
                           $
                           <span class="backet__product-cost">0</span>
                        </div>
                     </div>
                     <div class="backet__product-remove"></div>
                  </div>
                  <div class="backet__product-all" data-sum="">
                     Итого: $
                     <span class="backet__product-value">0</span>
                  </div>
                  <button class="btn backet__product-btn" type="button">Оформить</button>
               </div>
               <form class="backet__form hidden" action="#" method="post">
                  <div class="backet__form-contact">
                     <h2 class="backet__tittle">Оформить заказ</h2>
                     <div class="backet__form-input-box">
                        <input class="backet__form-input" type="text" placeholder="Ваше имя" value="" />
                     </div>
                     <div class="backet__form-input-box">
                        <input class="backet__form-input" type="email" placeholder="Электронная почта" value="" />
                     </div>
                     <div class="backet__form-input-box">
                        <input class="backet__form-input" type="tel" placeholder="+38 (999) 999 99-99" value="" />
                     </div>
                  </div>
                  <div class="backet__form-delivery">
                     <h2 class="backet__tittle">Доставка</h2>
                     <label class="backet__form-input-box">
                        <span class="backet__form-title">Город</span>
                        <input class="backet__form-input" type="search" placeholder="Киев" value="" />
                     </label>
                     <label class="backet__form-input-box">
                        <span class="backet__form-title">Промокод:</span>
                        <input class="backet__form-input" type="text" placeholder="Введите промокод" value="" />
                     </label>
                     <label class="backet__form-input-box">
                        <span class="backet__form-title">Как подписать заказ?</span>
                        <input class="backet__form-input" type="text" placeholder="Подпись для коробки" value="" />
                     </label>
                  </div>
                  <p class="backet__form-sum">
                     Итоговая сумма:
                     <span class="backet__form-currency">$</span>
                     <span class="backet__form-count">0</span>
                  </p>
                  <div class="backet__form-button-box">
                     <button class="backet__form-btn btn" type="submit">Купить</button>
                     <p class="backet__form-policy">Нажимая на кнопку «Купить» Вы соглашаетесь с нашей Политикой конфиденциальности</p>
                  </div>
               </form>
            </div>
            <div class="canvas"></div>
            <div class="search"></div>
         </header>
         <main class="main" id="main"></main>
         <footer class="footer">
            <div class="container">
               <div class="footer__grid">
                  <div class="footer__logo">
                     <a class="footer__logo-link route" href="#">
                        <svg class="footer__logo-icon" fill="none">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#logo"></use>
                        </svg>
                     </a>
                     <p class="footer__logo-text">
                        Соевые свечи ручной
                        <br />
                        работы
                     </p>
                  </div>
                  <nav class="footer__catalog">
                     <div class="footer__catalog-header">
                        <svg class="footer__catalog-icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#footerCatalog"></use>
                        </svg>
                        <h2 class="footer__catalog-title">Каталог</h2>
                     </div>
                     <ul class="footer__catalog-nav">
                        <li class="footer__catalog-nav-item">
                           <a class="footer__catalog-nav-link transition route" href="#/">Спички</a>
                        </li>
                        <li class="footer__catalog-nav-item">
                           <a class="footer__catalog-nav-link transition route" href="#/">Наборы</a>
                        </li>
                        <li class="footer__catalog-nav-item">
                           <a class="footer__catalog-nav-link transition route" href="#/">Открытки</a>
                        </li>
                        <li class="footer__catalog-nav-item">
                           <a class="footer__catalog-nav-link transition route" href="#/">Бестселлеры</a>
                        </li>
                        <li class="footer__catalog-nav-item">
                           <a class="footer__catalog-nav-link transition route" href="#/">Соевые свечи</a>
                        </li>
                     </ul>
                  </nav>
                  <nav class="footer__client">
                     <div class="footer__client-header">
                        <svg class="footer__client-icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#footerClient"></use>
                        </svg>
                        <h2 class="footer__client-title">ДЛЯ КЛИЕНТА</h2>
                     </div>
                     <ul class="footer__client-nav">
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Уход</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">О нас</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Сотрудничество</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Договор оферты</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Доставка и оплата</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Ответы на вопросы</a>
                        </li>
                        <li class="footer__client-nav-item">
                           <a class="footer__client-nav-link transition route" href="#/">Политика конфиденциальности</a>
                        </li>
                     </ul>
                  </nav>
                  <div class="footer__contact">
                     <div class="footer__contact-header">
                        <svg class="footer__contact-icon">
                           <use xlink:href="/src/assets/img/svg/sprite.svg#footerContact"></use>
                        </svg>
                        <h2 class="footer__contact-title upercase">Контакты</h2>
                     </div>
                     <a class="footer__contact-tel transition" href="tel:9999999999">+9 (999) 999 99 99</a>
                     <p class="footer__contact-tel-text">Поможем с выбором</p>
                     <a class="footer__contact-email transition" href="mailto:info@lumiiere.candles.com">info@lumiiere.candles.com</a>
                     <div class="footer__props">
                        <p class="footer__props-title upercase">Реквизиты:</p>
                        <p class="footer__props-info">
                           Иванова Елизавета Александрова
                           <br />
                           ИНН-145389784328
                        </p>
                     </div>
                     <div class="footer__social">
                        <a class="footer__social-link" href="https://instagram.com/lumiiere.candles?igshid=YmMyMTA2M2Y=">
                           <svg class="footer__social-icon">
                              <use xlink:href="/src/assets/img/svg/sprite.svg#footerSocialLike"></use>
                           </svg>
                        </a>
                        <a class="footer__social-link" href="https://vt.tiktok.com/ZSdGUYsFb/">
                           <svg class="footer__social-icon">
                              <use xlink:href="/src/assets/img/svg/sprite.svg#footerSocialTikTok"></use>
                           </svg>
                        </a>
                        <a class="footer__social-link" href="https://t.me/lumiiere_candles">
                           <svg class="footer__social-icon">
                              <use xlink:href="/src/assets/img/svg/sprite.svg#footerSocialTelegram"></use>
                           </svg>
                        </a>
                        <a class="footer__social-link" href="https://wa.me/79037590430">
                           <svg class="footer__social-icon">
                              <use xlink:href="/src/assets/img/svg/sprite.svg#footerSocialWhatsApp"></use>
                           </svg>
                        </a>
                        <a class="footer__social-link" href="https://taplink.cc/lumiierecandles">
                           <svg class="footer__social-icon">
                              <use xlink:href="/src/assets/img/svg/sprite.svg#footerSocialTaplink"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="footer__info">
                  <div class="footer__info-payment">
                     <svg class="footer__info-payment-icon">
                        <use xlink:href="/src/assets/img/svg/sprite.svg#footerPaymentVisa"></use>
                     </svg>
                     <svg class="footer__info-payment-icon">
                        <use xlink:href="/src/assets/img/svg/sprite.svg#footerPaymentMaster"></use>
                     </svg>
                  </div>
                  <p class="footer__copy">© 2023 Lumiiere. Защищено авторским правом</p>
                  <a class="footer__dev transition" href="https://github.com/suchkovcode/">Разработка сайта</a>
               </div>
            </div>
         </footer>
      </div>
   </body>
</html>
