:root {
   --color_base: #fff;
   --color_primary: #eb4a00;
   --color_secondary: #403d38;
   --color_border: #0033;
   --color_border_slider: #e0e0dc;
   --color_bg_grey: #f7f7f6;
   --color_backet: rgba(29, 29, 29, 60%);
   --color_btn: #eb4a00;
   --color_btn_hover: #ff6219;
   --color_input: #f7f7f6;
   --color_palceholder: rgba(194, 194, 194, 80%);
   --color_header_btn: rgba(235, 74, 0, 8%);
   --color_header_btn_hover: rgba(235, 74, 0, 11%);
   --font_1: "AvenirNextCyr";
   --font_2: "Karton";
}
